<div class="start-page-main">
    <div class="film-container">
        <section>
            <h2>Фільм 1</h2>
            <p>Опис</p>
        </section>
        <section>
            <h2>Фільм 1</h2>
            <p>Опис</p>
        </section>
        <section>
            <h2>Фільм 1</h2>
            <p>Опис</p>
        </section>
        <section>
            <h2>Фільм 1</h2>
            <p>Опис</p>
        </section>
        <section>
            <h2>Фільм 1</h2>
            <p>Опис</p>
        </section>
    </div>
</div>